body {
    background-image:linear-gradient(to bottom right, teal, #FFBF00, #DE3163);
    background-repeat: no-repeat;
    height: 1700px;
    width: 1400px;
    background-size: cover;
    justify-content: center;
    
}

.big-container {
    width: 100%;
    height: 950px;
    margin-top: 9px;
    
    
}
.big-container > aside {
    flex: 30%;
    padding: 20px;
    flex-wrap: wrap;
    margin-left: 200px;
    
}
.big-container > section {
    flex: 70%;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: center;
   
    
    
}
.all {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    justify-content: center;   
}            
.first-box {
    
    height: 500px;
    width: 680px;
    border-style: solid;
    border-color:  black;
    background-color: white;
    opacity: .8;
    margin-bottom: 30px;    
    margin-left: 300px;

}

.me {
    height: 300px;
    width: 200px;
    }

.me > img {
    width: 225px;
    height: 300px;
    border-style: solid;
    border-color:  black;
    margin-left: 200px; 
}

#recipe img {
    width: 680px;
    height: 500px;
}
#Monster img {
    width: 450px;
    height: 250px;
    background-color: #DE3163;
}
#board img {
    width: 450px;
    height: 250px;
}
#star img {
    width: 450px;
    height: 250px;
    
}
#pool img {
    width: 450px;
    height: 250px;
}

h1 {
    padding-top: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 58px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 100;
    color: black;
    line-height: 20px;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    
    color: black;
    
}
.big-container > .all-box {
        align-content: space-between;
        justify-content: center;
        display: flex;
        flex-wrap: wrap;
        
        padding: 10px;
        margin-top: 30px;
}
.first-box h1 {
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}
.box h1 {
    margin-top: 5px;
    line-height: 20px;
    font-size: 14px;
    position: absolute;
    font-family: 'Space Mono', monospace;
    font-weight: bold;
}

.first-box > .title {
    margin-top: -35px;
    font-size: 32px;
}
.box > .title {
    margin-top: -35px;
    font-size: 24px;
}

.big-container {
    display: flex;
    flex-wrap: wrap;
    /* background-image: url(.//b757vk8s3zfva08p.jpg); */
    /* background-image:linear-gradient(to bottom right, teal, #FFBF00, #DE3163); */ 
}



.box {
    width: 450px;
    height: 250px;
    border-style: solid;
    border-color:  black;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    
    justify-content: center;
    background-color: white;
    
   
}
@media screen and (max-width: 992px) {
    flex-direction: column;
  }
  
  
  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }
  
  
  @media screen and (max-width: 576px ) {
    flex-direction: column;
    
  }
  nav {
    display: flex;
    background-color: #DE3163;
    opacity: .9;
    margin-top: 15px;
    
  }
  nav a {
    color: white;
    text-align: center;
    font-size: 22px;
    padding: 18px;
    font-family: 'Space Mono', monospace;
  }
  .text {
    box-sizing: border-box;
    height: 150px;
    width: 300px;
    font-size: 18px;
    position: absolute;
    margin-left: 190px;
    font-family: 'Space Mono', monospace;
    
  }
  