body {
    
    /* background-image: url("./b757vk8s3zfva08p.jpg"); */
    
    
}




h1 {
    
    padding-top: 5px;
    font-family: 'Space Mono', monospace;
    font-size: 58px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-weight: 100;
    color: black;
    
  

}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 38px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    color: black;
}

.box {
    height: 100px;
    width: 200px;
    border-style: solid;
    border-width: thick;
    border-color: black;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
   float: left;
   justify-content: center;
   
}

.main-box {
    height: 200px;
    width: 1000px;
    border-style: solid;
    border-color: green;
    justify-content: center;
    align-items: center;
    
}